<div data-scroll-reveal-container id = "about-box">
	<div class="row" id='big-container'>
		<div class="col-sm-offset-1 col-sm-7" id='about-text'>
			Zeitgeist, literally the spirit of times in the German language,
			<div class="col-sm-4" style="float:right">
			<img src = "images/about/1.png"></div>
		is the annual cultural fest of IIT Ropar being held over three days. And it is much more than what its literal sense portrays. This fest is synonymous to excitement, zest and most importantly fun.
			The enchanting awesomeness of this fest thrills the folks to the peak of their adrenaline when youth from every part of the country perform to earn glory, not only in the fields of singing and dancing, but debates, quizzes, technical contests, fine arts and many others covering a vast and colourful spectrum of events too. These can bring an unforgettable experience of fun and amazement for people being a part of this incredibly fascinating carnival.
			But then, Zeitgeist does not end here. The atmosphere comes to life during the three nights of awesomeness when top-notch celebs showcase their masterpieces before you and make you live those moments to the fullest. This fest reflects the hard work and skills of the team incorporated in making it an unprecedented platform of fun and enjoyment along with mind blending events.
			And now, all we need is a great response from all the folks out there this year too, just as we had in the previous years, making it a grand success and taking this fest to its next level of magnificence.
			"It can never be more fun that Zeitgeist; after all it’s the spirit of the times."
		</div>
		
	</div>
</div>