<div data-scroll-reveal-container>
<!-- 	<center>
		<img src = "images/people/all.png" id = "people-images"/>
	</center>
 -->
<div id="contactpeople">
		<ul class = "row people">
			<li class = "people-box">
				<div class='peoplecontainer'>
					<img src="images/people/Tushar.jpg" class = "img-circle">
					<div class = "people-description">
						<div class = "people-name">Tushar Verma</div> <br><div class="peopledesignation">Head Coordinator</div>
						tusharv@iitrpr.ac.in<br>
						+919855006124
				</div>

				</div>
			</li>
			<li class = "people-box">
				<div class='peoplecontainer'>
				<img src="images/people/Vishal.jpg" class = "img-circle">
				<div class = "people-description">
					<div class = "people-name">Vishal Goyal </div><br><div class="peopledesignation"> Publicity Coordinator</div>
					vishalgoyal@iitrpr.ac.in<br>
					+919463122161
				</div>

				</div>
			</li>
			<li class = "people-box">
				<div class='peoplecontainer'>
				<img src="images/people/Nikhil.jpg" class = "img-circle">
				<div class = "people-description">
					<div class = "people-name">Nikhil Gupta </div><br><div class="peopledesignation"> Publicity Coordinator</div>
					nikhilgu@iitrpr.ac.in<br>
					+919914320000
				</div>
				</div>
			</li>
			<li class = "people-box">
				<div class='peoplecontainer'>
				<img src="images/people/Atri.jpg" class = "img-circle">
				<div class = "people-description">
					<div class = "people-name">Atri Gulati </div><br><div class="peopledesignation"> Marketing Coordinator</div>
					atrig@iitrpr.ac.in<br>
					+919855335838<br>
					+919999040395
				</div>
				</div>
			</li>
			<li class = "people-box">
				<div class='peoplecontainer'>
				<img src="images/people/Amit.jpg" class = "img-circle">
				<div class = "people-description">
					<div class = "people-name">Amit Goyal </div><br><div class="peopledesignation"> Marketing Coordinator</div>
					amitgoyal@iitrpr.ac.in<br>
					+919582478562<br>+918288909906
				</div>

				</div>
			</li>
			<li class = "people-box">
				<div class='peoplecontainer'>
				<img src="images/people/Paul.jpg" class = "img-circle">
				<div class = "people-description">
					<div class = "people-name">Sauradeep Paul </div><br><div class="peopledesignation"> Creativity Coordinator</div>
					sauradeeppaul@iitrpr.ac.in<br>
					+919501649060
				</div>
				</div>
			</li>
			<li class = "people-box">
				<div class='peoplecontainer'>
				<img src="images/people/Mohit.jpg" class = "img-circle">
				<div class = "people-description">
					<div class = "people-name">Mohit Garg </div><br><div class="peopledesignation"> Online Publicity Head</div>
					mohitg@iitrpr.ac.in<br>
					+919501652710
				</div>
				</div>
			</li>
			<li class = "people-box">
				<div class='peoplecontainer'>
				<img src="images/people/DC.jpg" class = "img-circle">
				<div class = "people-description">
					<div class = "people-name">Deepak Chawla </div><br><div class="peopledesignation"> Online Events Coordinator</div>
					deepakc@iitrpr.ac.in<br>
					+919646218688
				</div>
				</div>
			</li>
		</ul>
	</div>
	<div id="people-web">
		<div id="people-separator">
			Web Designing Team		
		</div>
		<div id="people-web-container">
			<div class="people-web-box">
				<div class="people-web-image-box">
					<div class="people-web-image-box-container">
						<div class="people-web-image">
							<img src="images/people/Rahul.jpg">
						</div>
						<div class="people-web-image-text">
							<div class="people-web-name">
								Rahul Mittal
							</div>
							rahulm@iitrpr.ac.in
							+918288909909
						</div>
					</div>
				</div>
			</div>
			<div class="people-web-box">
				<div class="people-web-image-box">
					<div class="people-web-image-box-container">
						<div class="people-web-image">
							<img src="images/people/Raj.jpg">
						</div>
						<div class="people-web-image-text">
							<div class="people-web-name">
								Abhishek Raj
							</div>
							abhishekrm@iitrpr.ac.in
                                                        +919501651503
						</div>
					</div>
				</div>
			</div>
			<div class="people-web-box">
				<div class="people-web-image-box">
					<div class="people-web-image-box-container">
						<div class="people-web-image">
							<img src="images/people/Aniket.jpg">
						</div>
						<div class="people-web-image-text">
							<div class="people-web-name">
								Aniket Sachdeva
							</div>
							aniket@iitrpr.ac.in
                                                        +919501651223
						</div>
					</div>
				</div>
			</div>
			<div class="people-web-box">
				<div class="people-web-image-box">
					<div class="people-web-image-box-container">
						<div class="people-web-image">
							<img src="images/people/Ankit.jpg">
						</div>
						<div class="people-web-image-text">
							<div class="people-web-name">
								Ankit Khokhar
                                                                
							</div>
							ankitkhokhar@iitrpr.ac.in
+919569884636
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="people-edit">
		<div id="people-separator">
			Editorial Team		
		</div>
		<div id="people-web-container">
			<div class="people-web-box">
				<div class="people-web-image-box">
					<div class="people-web-image-box-container">
						<div class="people-web-image">
							<img src="images/people/Sajal.png">
						</div>
						<div class="people-web-image-text">
							<div class="people-web-name">
								Sajal
							</div>
							sajalsr@iitrpr.ac.in
                                                        +919041496053
						</div>
					</div>
				</div>
			</div>
			<div class="people-web-box">
				<div class="people-web-image-box">
					<div class="people-web-image-box-container">
						<div class="people-web-image">
							<img src="images/people/Avinash.jpg">
						</div>
						<div class="people-web-image-text">
							<div class="people-web-name">
								Avinash Kumar
							</div>
							avinashk@iitrpr.ac.in
							+918288909696
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>