<link rel="stylesheet" href="partials/css/demo-styles.css" />
  <!--<script src="partials/js/modernizr-1.5.min.js"></script>-->	
  
  <div class="demo-wrapper">
<!-- classnames for the pages should include: 1) type of page 2) page name-->
  
  <div class="r-page category1">

	<button class="r-close-button">
		GO BACK
	</button>
<div class="wrap">
	<div class="event-desc-container">
		<div class="event-title">Mr. and Ms. Zeitgeist</div>
		<div class="event-text">
			<div class="event-caption">
				Send your photographs along with your name, your college name and a writeup at <span style="color:rgb(250,100,50)">mrandmsz@zeitgeist.org.in</span> of not more than 100 words describing why you should be hailed as Mr/Ms Zeitgeist.
				<br>
				<!-- <strong style="color:rgb(250,100,50)">Win Prizes worth Rs. 15000!</strong> -->
			</div>
			<div class="event-description">
				<br>
				<div class="event-subtitle">Online Selection :</div>
				A total of <span style="color:rgb(250,100,50)">14 candidates (7 boys and 7 girls)</span> will be selected based on the likes on their photographs posted on zeitgeist’s facebook page. Those who have been selected online will be exempted of the registration fee and will get direct entry to the final/semi-final round of the event, that is to be held during Zeitgeist 2014.<br><br>
				  <div class="event-subtitle">Offline Selection :</div>
				A candidate willing to participate in the competition can do so by registering himself/herself on-the-spot. The registration fee for the event is <span style="color:rgb(250,100,50)">Rs. 300/-</span>. After registration he/she will have to clear a set of rounds to reach the final/semi-final round to compete with those selected online. A maximum of <span style="color:rgb(250,100,50)">6 candidates (3 boys and 3 girls)</span> will be selected from the offline entry.<br><br>
				       
				 If the number of boys and girls who turn up on the day of event are unequal, we’ll have a semi-final round to <span style="color:rgb(250,100,50)">equal the number of girls and boys</span> qualifying for the next round. In such a case the number of qualifying participants will depend on the number of the boys/girls, whichever is smaller. For e.g. if 4 girls and 5 boys turn up at the event then a total of 8 participants (4 boys and 4 girls) will be shortlisted for the final rounds.<br>
				 <ol >
					<li> In case if the number of participants is 10 or less than 10 and are equal, these will automatically qualify for the final rounds.</li>
					<li> In case if more than 10 participants turn up, then we’ll have a semi-final round to select a total of 10 candidates (5 girls and 5 boys).</li>
					<li> The finalists will then compete to win the title of Mr. and Miss Zeitgeist 2014.</li>
					<li> The tentative dates for the semifinal and final rounds are <span style="color:rgb(250,100,50)">10th October</span> and <span style="color:rgb(250,100,50)">11th October</span> respectively.</li>
				</ol>
				<div class="event-subtitle">Offline Selection Round :</div>
				The offline selection would consist a written test that would test your skills.<br><br>
				<div class="event-subtitle">Semi-Final Round(If held) :</div>
				    The participants will be judged by their fashion sense. Girls are supposed to bring their best cocktail dresses for judgement. Boys should bring their formals with blazers. The sequence of entry will be informed before the commencement of the event. Henceforth, candidates will be shortlisted for the final round.<br><br>
				<div class="event-subtitle">Final Round(On-Stage) :</div>
				<ol>
					<li> Best Attire:<span style="color:rgb(250,100,50)">*</span>Pairs would be formed among the short-listed participants to judge the body language, sense of dressing and personality.</li>
					<li> Talent Round:Each participant will have to showcase his/her talent on stage. Each participant will be given a maximum of 2 minutes to display his/her talent.</li>
					<li> Questionnaire:The last round… Each participant will be asked a question by the judges. He/she gets two minute to think and to answer.</li>
				</ol>
				<span class="event-subtitle">Result</span>:<br>The result will be based on the total sum of points obtained in the all the three rounds .<br>
				<span style="color:rgb(250,100,50)">*</span>The criteria for the formation of pairs will be decided on the spot. <br><br>
				<div class="event-subtitle">Disclaimer :</div>
				If you have any further queries related to this event, mail your queries at support@zeitgeist.org.in.
			</div>
		</div>
		<button class="event-register" onclick="showing(event)" >SEE MORE</button>
		<button class="event-close" onclick="closing(event)" >CLOSE</button>
	</div>
	<div class="event-image"><img src="images/events/mrnmsz.jpg"></div>								
</div>
								

<div class="wrap" id="floater">
	<div class="event-desc-container" id="floater">
		<div class="event-title">Torque</div>
		<div class="event-text">
			<div class="event-caption">
				An unprecedented platform where the top-notch bands from every part of the country compete for the ultimate glory. Be prepared to hold your hands highas they jam up their electrifying chords and rolls to numb your senses ... BUT IN THE END NOTHING ELSE MATTERS ..
				<br>
				<!-- <strong style="color:rgb(250,100,50)">Win Prizes worth Rs. 15000!</strong> -->
			</div>
			<div class="event-description">
				<br><span class="event-subtitle">Rules :</span><br>
				<ul>
					<li>Maximum band strength (on stage members) is seven (7).</li>
					<li>Each band will be given 20 minutes to perform and 10 minutes sound check</li>
					<li>Language of lyrics is not a criterion</li>
					<li>Details of the prelims (if any) will be announced on 1st of March which would be held on 7th of September.</li>
					<li>An elimination round may be held depending on the number of participants.</li>
					<li>Drum kit will be provided to the participants.</li>
				</ul>
				<br><!-- <span class="event-subtitle">Prizes :</span><br>
				<ul>
					<li>Winner : 15000/-</li>
					<li>Runner-up : 10000/-</li>
				</ul> -->
				<br><!-- <span class="event-subtitle">Registration :</span><br>
				<ul>
					<li>Registration Fees: 1500/- per team</li>
				</ul> -->
			</div>
		</div>
		<button class="event-register" id="floater" onclick="showing(event)" >SEE MORE</button>
		<button class="event-close" id="floater" onclick="closing(event)" >CLOSE</button>
	</div>
	<div class="event-image"><img src="images/events/z.jpg"></div>								
</div>
								
<div class="wrap">
	<div class="event-desc-container">
		<div class="event-title">Tarang</div>
		<div class="event-text">
			<div class="event-caption">
				
				" We are only as strong as we are united , as weak as we are divided " - J.K. Rowling  

				Zeigeist brings you the manifestation of synchronisation , coordination and spirit of unity in a spanking new avatar "TARANG" where colleges from across country come up with unique styles of dancing maintaning a perfect harmony between eastern and western dance forms...And we are pretty sure that this event will compel you to be on your toes and ride the Gala wave... 

				<br>
				<!-- <strong style="color:rgb(250,100,50)">Win Prizes worth Rs. 15000!</strong> -->
			</div>
			<div class="event-description">
				<br><span class="event-subtitle">Rules :</span><br>
				<ul>
					<li>Any number of teams from a college can participate.</li>
					
					<li>Participation for Tarang is open to all students.</li>
					
					<li>Group members per team should be between 8 and 15, including the member(s) involved in Backstage Activities.</li>
					
					<li>Sequence should be in the range of 6 to 10 minutes.</li>
					
					<li>Teams have to apply through their respective colleges.</li>
					
					<li>Teams must bring 2 CD’s containing their sound track. 1 CD to be submitted to Coordinator, at the time of registration.</li>
					
					<li>No props will be provided.</li>
					
					<li>Props are allowed but any team using any kind of prop which can be a possible threat on stage for the audience or the stage itself will not be allowed. </li>
					
					<li>The dance floor area must be in the same condition after the performances as before.</li>
					
					<li>Size of the stage will be 40ft*32ft.</li>
					
					<li>Teams will be judged based on originality, choreography, execution and entertainment value.</li>
					
					<li>Variety of dance positions, dance movements, and/or combinations as appropriate to the specific difficulty of dance movements and/or combinations from one dance position or alignment to Uniqueness or originality of dance movements and/or combinations from one dance position or continuity of dance movements and/or combinations to either interpret dance theme and music, or dance one alignment to another, to include presentation of dance position, to demonstrate dance control, coordinated appearance appropriate to Country/Western competition attire; posture, grooming.</li> 

					<li>Participants must report 2 hours prior to the start of the event.</li>

					<li>An elimination round may be held depending on the number of participants.</li>

					<li>In case of situations which have been not described in rules, decision of the judges will be final.</li>

					<li>Non Compliance of any of the contest rules & regulation shall immediately disqualify the participants and use of costume as it complements the contestants and their dance routine.</li>
				</ul>
		 			<!-- <span class="event-subtitle">Prizes :</span>
		 		<ul>
					<li>Winner : 15000/-</li>

					<li>Runner-up : 10000/-</li>
				</ul> -->
					<!-- <span class="event-subtitle">Registration :</span>
				<ul>
					<li>Registration Fees : 1500/- per team</li>
				</ul> -->
			</div>
		</div>
		<button class="event-register" onclick="showing(event)" >SEE MORE</button>
		<button class="event-close" onclick="closing(event)" >CLOSE</button>
	</div>
	<div class="event-image"><img src="images/events/z.jpg"></div>								
</div>
								

<div class="wrap" id="floater">
	<div class="event-desc-container" id="floater">
		<div class="event-title">Junoon</div>
		<div class="event-text">
			<div class="event-caption">
				"Some people learn to dance but others are born to"...Talent doesn't remain hidden for long ..And if this talent drives your
				passion for dance , this is the chance for you to swagger your skills and mesmerise the world with your hellacious moves...
				<br>
				<!-- <strong style="color:rgb(250,100,50)">Win Prizes worth Rs. 15000!</strong> -->
			</div>
			<div class="event-description">
				<br><span class="event-subtitle">Rules :</span>
					<ul>	
						<li>Participation for Junoon is open to all students.</li>

						<li>Maximum 5 dancers per college.</li>

						<li>The duration of the performance should be between 3-6 minutes.</li> 

						<li>Negative marking for exceeding the TIME LIMIT.</li>

						<li>Participant must bring 2 CD’s containing their sound track. 1 CD to be submitted to Coordinator, at the time of registration. </li>

						<li>The dance floor area must be in the same condition after the performances as before.</li>

						<li>No props will be provided. </li>

						<li>Teams may use props if they want, for which they should take prior permission from the Coordinator. (Negative marking if not informed before)</li>

						<li>Participant can perform any dance form/style. </li>

						<li>Participants are not restricted from performing any move but they must be aware that it is their own responsibility to ensure that they do not perform dangerous moves that could injure themselves or others.</li> 

						<li>Coordinators have the right to bring in safety restrictions.</li>

						<li>Participants will be judged based on originality, choreography, execution and entertainment value.</li>

						<li>Variety of dance positions, dance movements, and/or combinations as appropriate to the specific. </li>

						<li>Difficulty of dance movements and/or combinations from one dance position or alignment to 

						<li>Uniqueness or originality of dance movements and/or combinations from one dance position or dance one alignment to another, to include presentation of dance position continuity of dance movements and/or combinations to either interpret dance theme and music, or to demonstrate dance control.</li> 

						<li>Participants must report 2 hours prior to the start of the event.</li>

						<li>An elimination round may be held depending on the number of participants.</li>

						<li>Lighting of candles, matches or cigarettes on stage is not allowed and will result in disqualification. </li>
			
						<li>In case of situations which have been not described in rules, decision taken by judges will be final. </li>

						<li>Non Compliance of any of the contest rules & regulation shall immediately disqualify the participants.</li>
					</ul>
						<!-- <span class="event-subtitle">Prizes :</span>
					<ul>
						<li>Winner : 3000/-</li>

		 				<li>Runner-up : 1500/-</li>
		 			</ul> -->
			</div>
		</div>
		<button class="event-register" id="floater" onclick="showing(event)" >SEE MORE</button>
		<button class="event-close" id="floater" onclick="closing(event)" >CLOSE</button>
	</div>
	<div class="event-image"><img src="images/events/z.jpg"></div>								
</div>


<div class="wrap">
	<div class="event-desc-container">
		<div class="event-title">Saaz</div>
		<div class="event-text">
			<div class="event-caption">
				Sometimes, a single heavenly voice is enough to open the floodgates of emotions. This is a chance to solely win the hearts of all by making the crowd swoon by your unbelievably melodious voice.
				<br>
				<!-- <strong style="color:rgb(250,100,50)">Win Prizes worth Rs. 15000!</strong> -->
			</div>
			<div class="event-description">
				<br><span class="event-subtitle">Rules :</span>
					<ul>
						<li>Participation for Saaz is open to all students.</li>

						<li>Songs should be in Hindi or English language only.</li>

						<li>There is no restriction on no. of students participating from any institution.</li>

						<li>Participants will be penalized for exceeding the specified time limits on terms agreed by the judges.</li>

						<li>Sound check on stage should not take more than 1 min.</li>

						<li>The participants are allowed to bring only karaoke in MP3 format on CD's (participants are required to give 2 copies on 2 separate CD's). Please note musical instruments or bands of any kind will not be allowed. </li>

						<li>Karaoke should not contain any human voice in it.</li>

						<li>Competition comprises of two rounds:
							<br>
								<span class="event-subtitle" style="font-size:17px;">Preliminary Round:</span>

								<ol>
									<li>	
									Each participant is required to prepare 3 songs of different genres (namely rock, pop, folk etc.) and can be asked to sing other song in case judges face any uncertainty. Singing time for this round should not exceed 3 minutes. Participants are required to sing without any karaoke or any musical instrument in this round. 
										</li>
									<li>Participants will be short-listed on the basis of their performance in this round for the final round.
											</li></ol>

								<span class="event-subtitle" style="font-size:17px;">Final Round:</span>
								<ol>
									<li>Maximum time limit for this round is 5 min. Participants are free to choose any song of their choice. Song can be different from 3 songs that they have prepared for the Preliminary Round. The participants are allowed to bring only karaoke, in MP3 format on CD's for this round. 
									</li>
									<li>
									Please note no band would be allowed for this round. Karaoke should not contain any form of human voice in it.
									</li>
									</ol>
					</ul>
			</div>
		</div>
		<button class="event-register" onclick="showing(event)" >SEE MORE</button>
		<button class="event-close" onclick="closing(event)" >CLOSE</button>
	</div>
	<div class="event-image"><img src="images/events/z.jpg"></div>								
</div>
			

<style>
.hover
{
    position: relative;
    z-index: 1;
}

.slide
{
    
    top: 15em;
    z-index: -1;
    -webkit-transition: top 1s;
    -moz-transition: top 1s;
	background:rgba(0,0,0,0.0);
	color:rgba(0,0,0,0.0);
	display:none;
}


.hover1
{
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.slide1
{
   
   top: 17em;
	
    z-index: -1;
    -webkit-transition: top 1s;
    -moz-transition: top 1s;
	background:rgba(0,0,0,0.0);
	color:rgba(0,0,0,0.0);
}
</style>

<script>
function showing(e)
{
	e = e || window.event;
    e = e.target || e.srcElement;
    e = $(e).parent().parent();
    e.animate({"width":"100%"},500,function(){
		e.find('.event-close').show();
		e.find('.event-text').fadeIn(200);
	});
	e.find('.event-text').hide();
	e.find('.event-description').show();
	e.find('.event-register').hide();
}

function closing(e)
{
	e = e || window.event;
    e = e.target || e.srcElement;
    e = $(e).parent().parent();
	e.animate({"width":"70%"},500,function(){
			e.find('.event-register').show();
			e.find('.event-text').fadeIn(200);
	});
	e.find('.event-text').hide();
	e.find('.event-close').hide();
	e.find('.event-description').hide();
}
</script>
</div>



<div class="r-page category2">
					<button class="r-close-button">
					GO BACK
					</button>
							    
	<div class="wrap">
		<div class="event-desc-container">
			<div class="event-title">Conclave ( Open Debate )</div>
				<div class="event-text">
				<div class="event-caption">
				Just as pure energy emerge on the collision of atoms, a torrent of raging thoughts is generated when wits collide in this epic oral battle. 

				<br>
				<!-- <strong style="color:rgb(250,100,50)">Win Prizes worth Rs. 15000!</strong> -->
				</div>
				<div class="event-description">
				<br><span class="event-subtitle">Rules :</span>
				<ul>
					<li>Any number of participants are allowed from a college.</li>

					<li>Around 10 participants per batch (individual participant entries).</li>

					<li>Flexible time limit.</li>

					<li>Inappropriate (abusive) language will lead to disqualification.</li>

					<li>In all cases, the decision of the judges will be irrefutable.</li>

					<li>Following are the judging criteria:
						<ul>
							<li>Content: Awareness and Knowledge of the topic.</li>

							<li>Language: Right use of words and no wrong words.</li>

							<li>Counter arguments: Valid interjections and satisfactory answers to the opponent’s questions. </li>

							<li>Presentation style: Ways to present ideas, argument and thoughts with good examples.</li>
						</ul>
					</li>
				</ul>
				<!-- <span class="event-subtitle">Prizes :</span>
				<ul>
					<li>Winner : 1000/-</li>

					<li>Runner-up : 500/-</li>
				</ul> -->
				<!-- <span class="event-subtitle">Registration Fees :</span>
				<ul>
					<li>Registration Fees: 50 per Participant</li>
				</ul>	 -->

					</div>
				</div>
				<button class="event-register" onclick="showing(event)" >SEE MORE</button>
				<button class="event-close" onclick="closing(event)" >CLOSE</button>
			</div>
		<div class="event-image"><img src="images/events/z.jpg"></div>								
	</div>
								

<div class="wrap" id="floater">
	<div class="event-desc-container" id="floater">
		<div class="event-title">Eureka</div>
		<div class="event-text">
			<div class="event-caption">
				"You don't have to be clever, just smart" An event which showcases a unique blend of patience, eagerness to press the buzzer, presence of mind and love for trivia.
				<br>
				<!-- <strong style="color:rgb(250,100,50)">Win Prizes worth Rs. 15000!</strong> -->
			</div>
			<div class="event-description">
				<br><span class="event-subtitle">Rules :</span>
				<ul>
						<li>Any number of teams is allowed to participate from one college.</li>

						<li>Cross college teams are permitted.</li>

						<li>This will be a team event. Each team will consist of 2 members.</li>

						<li>This will comprise of 2 rounds, namely the preliminary round (written test) and the final round (on stage)
							<br>
							<span class="event-subtitle" style="font-size:17px;">Preliminary Round :</span>
							<ul>
								<li>Duration: 1 Hour</li>

								<li>Test will be conducted in teams.</li>

								<li>20 MCQ’s</li>

								<li>30 Blanks</li>
							</ul>
							<span class="event-subtitle" style="font-size:17px;">Final Round :</span>
							<ul>
								<li>This will consist of sub-rounds which will be based on general knowledge, history, entertainment, etc.</li>

								<li>Participants must report 2 hours prior to the start of the event.</li>

								<li>The decision of the organisers will be binding in all cases of dispute.</li>
							</ul>
							</li>
				</ul>
				<!-- <span class="event-subtitle">Prizes :</span>
				<ul>
					<li>	Winner : 2000/-</li>

					<li>	1st Runner-up : 1200/-</li>

					<li>	2nd Runner-up : 800/- </li>
				</ul> -->
				<!-- <span class="event-subtitle">Registration Fees :</span>
				<ul>
 				<li>Registration Fees: 200/- per team</li>
				</ul> -->
			</div>
		</div>
		<button class="event-register" id="floater" onclick="showing(event)" >SEE MORE</button>
		<button class="event-close" id="floater" onclick="closing(event)" >CLOSE</button>
	</div>
	<div class="event-image"><img src="images/events/z.jpg"></div>								
</div>


							    
					<div class="wrap">
	<div class="event-desc-container">
		<div class="event-title">Blind Painting</div>
		<div class="event-text">
			<div class="event-caption">
				Eyes are considered the most vital sense organs as they enable us to admire the world around us in all its beautiful and vibrant colors. But the true talent lies in admiring and impersonating the very beauty in the absense of them.
				<br>
				<!-- <strong style="color:rgb(250,100,50)">Win Prizes worth Rs. 15000!</strong> -->
			</div>
			<div class="event-description">
				<br><span class="event-subtitle">Rules :</span>
				<ul>
					<li>Team consisting 2 members allowed. </li>

					<li>A sheet with a pattern/figure will be given to each team. They have come up with an idea to further modify that figure/pattern.</li>

					<li>Participants will be provided with requisite material.</li>

					<li>After that one of the members will be blindfolded and other member has to guide.</li>

					<li>Time for competition – maximum 15 minutes only.</li>

					<li>Participants will be provided required materials.</li>
					</ul>
					<!-- <span class="event-subtitle">Registration Fees :</span>
					<ul>
						<li>Registration fees: 20/- per participant</li>
					</ul> -->
			</div>
		</div>
		<button class="event-register" onclick="showing(event)" >SEE MORE</button>
		<button class="event-close" onclick="closing(event)" >CLOSE</button>
	</div>
	<div class="event-image"><img src="images/events/z.jpg"></div>								
</div>
								

<div class="wrap" id="floater">
	<div class="event-desc-container" id="floater">
		<div class="event-title">Graffiti</div>
		<div class="event-text">
			<div class="event-caption">
				Do you love spreading your messages, ideas or knowledge by scribbling them on a wall in the funkiest way possible? If yes, what can be a better way to express your love than creating masterpieces in the form of graffiti. Just ideate and paint.
				<br>
				<!-- <strong style="color:rgb(250,100,50)">Win Prizes worth Rs. 15000!</strong> -->
			</div>
			<div class="event-description">
				<br><span class="event-subtitle">Rules :</span>
				<ul>
					<li>Only individual participation allowed.</li>

					<li>Time allowed is 1hour.</li>

					<li>Participant will have to draw graffiti on 10x10 cm paper.</li>

					<li>All the materials required will be provided.</li>

					<li>Participants will have to use their imagination and no external sources will be allowed.</li>
				</ul>
				<!-- <span class="event-subtitle">Prizes</span>
				<ul>
					<li>Goodies and Coupons</li>
				</ul> -->
				<!-- <span class="event-subtitle">Registration Fees :</span>
				<ul>
					<li>Registration Fees: 20/- per participant</li>
				</ul> -->
			</div>
		</div>
		<button class="event-register" id="floater" onclick="showing(event)" >SEE MORE</button>
		<button class="event-close" id="floater" onclick="closing(event)" >CLOSE</button>
	</div>
	<div class="event-image"><img src="images/events/z.jpg"></div>								
</div>



  </div>



<div class="r-page category3">

							    
  </div>



<div class="r-page category4">

							    
								
  </div>








<!--each tile should specify what page type it opens (to determine which animation) and the corresponding page name it should open-->
  <div class="dashboard clearfix">
    <ul class="tiles">
      <div class="col1 clearfix">
        <li class="tile tile-big tile-1 slideTextUp" data-page-type="r-page" data-page-name="category1">
          <div><p style="font-size:2em;">Cultural Events</p></div>
          <div><p style="font-size:2em;">Participate in <br>Mr. and Ms. Zeitgeist</p></div>
        </li>
        <!--<li class="tile tile-small tile tile-2 slideTextRight" data-page-type="s-page" data-page-name ="random-restored-page">
          <div><p class="icon-arrow-right"></p></div>
          <div><p>Tile's content slides right. Page opens from left</p></div>
        </li>
        <li class="tile tile-small last tile-3" data-page-type="r-page" data-page-name="random-r-page">
          <p class="icon-calendar-alt-fill"></p>
        </li>-->
        <li class="tile tile-big tile-4 rotate3d rotate3dY" data-page-type="r-page" data-page-name="">
          <div class="faces">
            <div class="front"><p style="font-size:2em;padding:4.3em 2em;">Technical Events</p></div>
            <div class="back"><p style="font-size:2em;padding-top:4.3em;">Coming Soon!</p></div>
          </div>
        </li>
      </div>

      <div class="col2 clearfix">
        <li class="tile tile-big tile-5 slideTextRight" data-page-type="r-page" data-page-name="category2">
         <div><p class="icon-arrow-right">Click Here To View!</p></div>
          <div><p>Arts/Literary Events</p></div>
        </li>
        <li class="tile tile-big tile-6 slideTextLeft" data-page-type="r-page" data-page-name="">
          <div><p>Online Events</p></div>
          <div><p>Coming Soon!</p></div>
        </li>
        <!--Tiles with a 3D effect should have the following structure:
            1) a container inside the tile with class of .faces
            2) 2 figure elements, one with class .front and the other with class .back-->
        <!--<li class="tile tile-small tile-7 rotate3d rotate3dX" data-page-type="r-page" data-page-name="random-r-page">
          <div class="faces">
            <div class="front"><span class="icon-picassa"></span></div>
            <div class="back"><p>Launch Picassa</p></div>
          </div>
        </li>
        <li class="tile tile-small last tile-8 rotate3d rotate3dY" data-page-type="r-page" data-page-name="random-r-page">
          <div class="faces">
            <div class="front"><span class="icon-instagram"></span></div>
            <div class="back"><p>Launch Instagram</p></div>
          </div>
        </li>-->
      </div>

      <!--<div class="col3 clearfix">      
        <li class="tile tile-2xbig tile-9 fig-tile" data-page-type="custom-page" data-page-name="random-r-page">
          <figure>
            <img src="partials/images/summer.jpg" />
            <figcaption class="tile-caption caption-bottom">Fixed Caption: Some Subtitle or Tile Description Goes Here with some kinda link or anything
            </figure>
        </li>
        <li class="tile tile-big tile-10" data-page-type="s-page" data-page-name="custom-page">
          <div><p>Windows-8-like Animations with CSS3 &amp; jQuery &copy; Sara Soueidan. Licensed under MIT.</p></div>
        </li>
      </div>-->
    </ul>
  </div><!--end dashboard-->

</div>
<!--====================================end demo wrapper================================================-->
  
  <script src="partials/js/scripts.js"></script>
		
		
	<!-- fold effect end-->
	
	
	
	
	
	
    
	
	
	