
    <div id='maincontainer'>
    <section class="section-photos" id = "gallery-box">
      <div class="photos">
        <div id='photos-border'>
        <div class="row-container" id="row-container-1">
          <div class="row row-one">
            <img src="images/gallery/zeitgeist-yogesh-110.jpg" alt="">
            <img src="img/photo-festival9.jpg" alt=""> 
            <img src="images/gallery/zeitgeist-yogesh-24.jpg" alt="">
            <img src="images/gallery/zeitgeist-tudu-1343.jpg" alt="">
            <img src="images/gallery/zeitgeist-yogesh-384.jpg" alt="">
            <img src="img/photo-festival13.jpg" alt="">
            <img src="images/gallery/zeitgeist-yogesh-73.jpg" alt="">
            <img src="images/gallery/zeitgeist-tudu-1982.jpg" alt="">
            <img src="images/gallery/zeitgeist-tudu-4866.jpg" alt="">
            <img src="images/gallery/zeitgeist-yogesh-307.jpg" alt="">

            <img src="images/gallery/zeitgeist-yogesh-110.jpg" alt="">
            <img src="img/photo-festival9.jpg" alt=""> 
            <img src="images/gallery/zeitgeist-yogesh-24.jpg" alt="">
            <img src="images/gallery/zeitgeist-tudu-1343.jpg" alt="">
            <img src="images/gallery/zeitgeist-yogesh-384.jpg" alt="">
          </div>
        </div>
        <div class="row-container" id="row-container-2">
          <div class="row row-two">
            <img src="img/photo-festival8.jpg" alt="">
            <img src="img/photo-festival10.jpg" alt=""> 
            <img src="images/gallery/zeitgeist-tudu-4817.jpg" alt="">
            <img src="images/gallery/zeitgeist-tudu-4729.jpg" alt="">
            <img src="images/gallery/zeitgeist-yogesh-133.jpg" alt="">
            <img src="images/gallery/zeitgeist-yogesh-401.jpg" alt="">
            <img src="images/gallery/zeitgeist-yogesh-118.jpg" alt="">
            <img src="images/gallery/zeitgeist-yogesh-39.jpg" alt="">
            <img src="images/gallery/zeitgeist-yogesh-45.jpg" alt="">
            <img src="images/gallery/zeitgeist-yogesh-287.jpg" alt="">

            <img src="img/photo-festival8.jpg" alt="">
            <img src="img/photo-festival10.jpg" alt=""> 
            <img src="images/gallery/zeitgeist-tudu-4817.jpg" alt="">
            <img src="images/gallery/zeitgeist-tudu-4729.jpg" alt="">
            <img src="images/gallery/zeitgeist-yogesh-133.jpg" alt="">
          </div>
      </div>
        </div>
      </div>
    </section>
  </div>