<center><h1>Our Sponsors</h1></center>
<div class = "container" id = "sponsor-container">
	<div class = "row">
		<div class = "col-lg-offset-2 col-lg-3 col-md-offset-2 col-md-3 col-sm-offset-2 col-sm-3 col-xs-offset-2 col-xs-3 event-box">
			<a href="https://www.apple.com/"><img src = "images/sponsors/Logo_0000_Apple.png" class="sponsor-logo"></a>
		</div>
		<div class = "col-lg-2 col-md-2 col-sm-2 col-xs-2 event-box">
			<a href="http://inkarp.co.in/"><img src = "images/sponsors/Logo_0001_Inkarp.png" class="sponsor-logo"></a>
		</div>
		<div class = "col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-3 col-xs-offset-1 col-xs-3 event-box">
			<a href="http://thecollegefever.com/"><img src = "images/sponsors/Logo_0002_CF.png" class="sponsor-logo"></a>
		</div>
	</div>

	<div class = "row">
		<div class = "col-lg-offset-2 col-lg-3 col-md-offset-2 col-md-3 col-sm-offset-2 col-sm-3 col-xs-offset-2 col-xs-3 event-box">
			<a href="http://cpwd.gov.in/"><img src = "images/sponsors/Logo_0003_CPWD.png" class="sponsor-logo"></a>
		</div>
		<div class = "col-lg-2 col-md-2 col-sm-2 col-xs-2 event-box">
			<a href="http://www.robosapi.com/"><img src = "images/sponsors/Logo_0004_ROBO.png" class="sponsor-logo"></a>
		</div>
		<div class = "col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-3 col-xs-offset-1 col-xs-3 event-box">
			<a href="http://www.manyagroup.com/"><img src = "images/sponsors/Logo_0005_Princeton.png" class="sponsor-logo"></a>
		</div>
	</div>

	<div class = "row">
		<div class = "col-lg-offset-2 col-lg-3 col-md-offset-2 col-md-3 col-sm-offset-2 col-sm-3 col-xs-offset-2 col-xs-3 event-box">
			<a href="https://www.sbi.co.in/"><img src = "images/sponsors/Logo_0006_Layer-2.png" class="sponsor-logo"></a>
		</div>
		<!-- <div class = "col-lg-2 col-md-2 col-sm-2 col-xs-2 event-box">
			<img src = "images/sponsors/Logo_0007_Layer-27.png" class="sponsor-logo">
		</div>
		<div class = "col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-3 col-xs-offset-1 col-xs-3 event-box">
			<img src = "images/sponsors/Logo_0008_Layer-26.png" class="sponsor-logo">
		</div> -->
	</div>
</div>
