<div class = "container" id = "sponsor-container">
	<div class = "row">
		<div class = "sponsor-row">
			<div class="col-lg-offset-3 col-lg-5 col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-4 event-box">
				<div class="sponsor-category" style="font-size:28px;">Gold Sponsors</div>
				<a target="_blank" href="https://www.ebay.in/"><img src = "images/sponsors/ebay.png" class="sponsor-logo"></a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class = "sponsor-row">
			<div class="col-lg-offset-1 col-lg-4 col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-4 event-box">
				<div class="sponsor-category">Silver Sponsors</div>
				<a target="_blank" href="https://www.canarabank.in/"><img src = "images/sponsors/canara.jpg" class="sponsor-logo"></a>
			</div>
			<div class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 col-xs-offset-1 col-xs-4 event-box">
				<div class="sponsor-category">Bronze Sponsors</div>
				<a target="_blank" href="https://www.sbi.co.in/"><img src = "images/sponsors/Logo_0006_Layer-2.png" class="sponsor-logo"></a>
				<a target="_blank" href="http://www.kayako.com/"><img src = "images/sponsors/kayako.png" class="sponsor-logo"></a>
				<a target="_blank" href="http://www.magbro.in/"><img src = "images/sponsors/magbro.jpg" class="sponsor-logo"></a>
				<!-- <a target="_blank" href="http://www.paramatrixinfo.com/"><img src = "images/sponsors/paramatrix.png" class="sponsor-logo"></a> -->
			</div>
		</div>
	</div>
	<!-- <div class = "row">
		<div class = "sponsor-row">
			<div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-4 event-box">
				<div class="sponsor-category" style="font-size:28px;">Bronze Sponsors</div>
				<a target="_blank" href="https://www.sbi.co.in/"><img src = "images/sponsors/Logo_0006_Layer-2.png" class="sponsor-logo"></a>
				<a target="_blank" href="http://www.paramatrixinfo.com/"><img src = "images/sponsors/paramatrix.png" class="sponsor-logo"></a>
			</div>
		</div>
	</div> -->
	<!-- <div class = "row">
		<div class = "sponsor-row">
			<div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-4 event-box">
				<div class="sponsor-category" style="font-size:28px;">Bronze Sponsors</div>
				<a target="_blank" href="https://www.sbi.co.in/"><img src = "images/sponsors/Logo_0006_Layer-2.png" class="sponsor-logo"></a>
				<a target="_blank" href="http://www.paramatrixinfo.com/"><img src = "images/sponsors/paramatrix.png" class="sponsor-logo"></a>
				
			</div>
		</div>
	</div> -->
	<div class="row">
		<div class = "sponsor-row">
			<div class="col-lg-offset-0 col-lg-3 col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-4 event-box">
				<div class="sponsor-category">English Print Media Partner</div>
				<a target="_blank" href="http://www.tribuneindia.com/"><img src = "images/sponsors/tribune.png" class="sponsor-logo"></a>
			</div>
			<div class="col-lg-offset-1 col-lg-3 col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-4 event-box">
				<div class="sponsor-category">Broadcast Partner</div>
				<a target="_blank" href="http://www.ptcnews.in/"><img src = "images/sponsors/ptc.jpg" class="sponsor-logo"></a>
			</div>
			<div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 col-xs-offset-1 col-xs-4 event-box">
				<div class="sponsor-category">Academic Partner</div>
				<a target="_blank" href="http://www.time4education.com/"><img src = "images/sponsors/TIME.png" class="sponsor-logo"></a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class = "sponsor-row">
			<div class="col-lg-offset-0 col-lg-3 col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-4 event-box">
				<div class="sponsor-category">Info Solutions Partner</div>
				<a target="_blank" href="http://www.paramatrixinfo.com/"><img src = "images/sponsors/paramatrix.png" class="sponsor-logo"></a>
			</div>
			<div class="col-lg-offset-1 col-lg-3 col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-4 event-box">
				<div class="sponsor-category">GRE Coaching Partner</div>
				<a target="_blank" href="http://www.manyagroup.com/"><img src = "images/sponsors/Logo_0005_Princeton.png" class="sponsor-logo"></a>
			</div>
			<div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 col-xs-offset-1 col-xs-4 event-box">
				<div class="sponsor-category">Infrastructure Partner</div>
				<a target="_blank" href="http://cpwd.gov.in/"><img src = "images/sponsors/Logo_0003_CPWD.png" class="sponsor-logo"></a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class = "sponsor-row">
			<div class="col-lg-offset-0 col-lg-3 col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-4 event-box">
				<div class="sponsor-category">Online Media Partner</div>
				<a target="_blank" href="http://thecollegefever.com/"><img src = "images/sponsors/Logo_0002_CF.png" class="sponsor-logo"></a>
			</div>
			<div class="col-lg-offset-1 col-lg-3 col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-4 event-box">
				<div class="sponsor-category">Magazine Partner</div>
				<a target="_blank" href="http://glimpsemagazine.com/"><img src = "images/sponsors/glimpse.png" class="sponsor-logo"></a>
			</div>
			<div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 col-xs-offset-1 col-xs-4 event-box">
				<div class="sponsor-category">Robotics Partner</div>
				<a target="_blank" href="http://www.robosapi.com/"><img src = "images/sponsors/Logo_0004_ROBO.png" class="sponsor-logo"></a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class = "sponsor-row">
			<div class="col-lg-offset-0 col-lg-3 col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-4 event-box">
				<div class="sponsor-category">Tech-Solution Partner</div>
				<a target="_blank" href="http://inkarp.co.in/"><img src = "images/sponsors/Logo_0001_Inkarp.png" class="sponsor-logo"></a>
			</div>
			<div class="col-lg-offset-1 col-lg-3 col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-4 event-box">
				<div class="sponsor-category">Online Events Sponsor</div>
				<a target="_blank" href="https://www.hackerrank.com"><img src = "images/sponsors/hackerrank.png" class="sponsor-logo"></a>
				<a target="_blank" href="http://www.hackerearth.com/"><img src = "images/sponsors/hackerearth.jpg" class="sponsor-logo"></a>
			</div>
			<!-- <div class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 col-xs-offset-1 col-xs-4 event-box">
				<div class="sponsor-category">Robotics Partner</div>
				<a target="_blank" href="http://www.robosapi.com/"><img src = "images/sponsors/Logo_0004_ROBO.png" class="sponsor-logo"></a>
			</div> -->
		</div>
	</div>
</div>
